
@font-face {
    font-family: atkinson-bold;
    src: url(../challenge-4/atkinson-hyperlegible-bold-102-webfont.woff2;)
   }
@font-face {
    font-family: atkinson-Regular;
    src: url(../challenge-4/atkinson-hyperlegible-regular-102-webfont.woff2)
   }

   

body{
    background-color: #f3eee4;
    display: flex;   
}


.main {
    background-color: #f3eee4;
    width: 600px; 
   
}


h1{
    font-family: atkinson-bold;
    color: #1c2334;
    margin-left: 40px;
}

h2{
    font-family: atkinson-bold;
    color: #1c2334;
    margin-left: 40px;
}


.spn{
    font-family: atkinson-Regular;
    color: #1c2334;
    margin-left: 40px;
}
 

 .first{
    font-family: atkinson-Regular;
    color:#bb1450;
    margin-left: 40px;
    
 }
 .img{
    
    padding-left: 100%;
    margin-right: 20px;
    object-position: bottom 70px right 40px;
    

}
 .card_1 {
     background-color:  #e5bf55;
     width: 250%;  
     height: 270px;
     
    
 }

 .card_1text{
      
      justify-content: center;
      
 }
 

 .btn{
   
    justify-content: center;
    align-items: center;

 }
 
.bt_1{
    background-color: #1c2334;
    border-radius: 10px;
    border-width: 2px;
    margin-right: 10px;
    width: 150px;
    height: 30px;
    padding: 5px;
    border-color: #bb1450;
    color: #f3eee4;
   

  
}


.bt_2{

   border-radius: 10px;  
   outline: #1c2334;
   width: 200px;
   height: 30px;
   padding: 5px;
}



.last_card{
  color: #1c2334;
  width: 250%;
  background-color:lemonchiffon;
  justify-content: center;
  
  height: 60px;
 
}
    




    
   
